mat-card-content
  display: flex
  justify-content: center

img
  height: 100%
  width: 100%
  object-fit: contain

mat-card-actions
  display: inline
  button
    background: #aa12125b

  div
    margin: 0 8px

  .buy
    float: right

  .price
    float: left

mat-card
  margin:1%
